<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pierre, Papier, Ciseaux</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/footer/footer.css" type="text/css">
    <link rel="stylesheet" href="styles/dashboard/dashboard.css" type="text/css">
    <link rel="stylesheet" href="styles/header/header.css" type="text/css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <script src="javascripts/dashboard/dashboard.js"></script>
</head>

<body>
    <%- include("../header/index.ejs") %>
    <main>
        <aside>
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
                        <div class="collapse navbar-collapse">
                            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                                <li class="nav-item">
                                    <a class="nav-link pl-0" href="#">Menu 1</a>
                                </li>
                                <!-- Insérez ici le reste de votre menu -->
                            </ul>
                        </div>
                    </nav>
                    <main class="col">
                        <!-- Insérez ici le contenu principal du site ou de l'application -->
                    </main>
                </div>
            </div>
        </aside>
    </main>
    <%- include("../footer/index") %>
</body>

</html>