<head>
  <link rel="stylesheet" href="styles/footer/footer.css">
</head>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Pierre, Feuille, Ciseaux</h5>
          <p>Connaissez-vous le jeux du pierre, feuille, ciseaux ? <a href="http://pierrefeuilleciseaux.chez.com/regles.htm" target="_blank">Lire les règles</a></p>
          
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright Domingues Jonathan
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->