<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pierre, Papier, Ciseaux</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/onboarding/onboarding.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>
</head>
<body>
    <%- include("../header/index.ejs") %>
    <main>
        <div class="container" style="height: 100vh;">
            <div class="row justify-content-md-center justify-content-sm-center h-100">
                <div class="col-md-6 col-sm-10 my-auto">
                    <div class="d-flex justify-content-center container mb-5">
                        <div id="pierre-icon" class="ml-1 mr-1 rounded"><p class="description-icon">Pierre</p></div>
                        <div id="leaf-icon" class="ml-1 mr-1 rounded"><p class="description-icon">Feuille</p></div>
                        <div id="chisel-icon" class="ml-1 mr-1 rounded"><p class="description-icon">Ciseaux</p></div>
                    </div>
                    <input type="text" minlength="3" maxlength="15" class="form-control" id="username" value="" placeholder="Sélectionnez un pseudo">
                    <!-- Warning Alert -->
                    <div id="errorField"></div>
                    <button class="btn btn-light border border-light mx-auto mt-3 d-flex" id="btnSubmit" onClick="Onboarding_.onSubmit()">
                        <span class="spinner-grow spinner-grow-sm my-auto" role="status" id="statusOnSubmit" hidden=true" aria-hidden="true"></span>&nbsp;Se connecter</button>
                    <script src="javascripts/onboarding/onboarding.js" type="text/javascript"></script>                    
                </div>
            </div>
        </div> 
  
        <!-- Login modal -->
        <div class="modal fade" id="authenticateLoginModal" tabindex="-1" role="dialog" aria-labelledby="ModalLoginLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="ModalLoginLabel">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary">C'est parti !</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Register modal -->
        <div class="modal fade" id="authenticateRegisterModal" tabindex="-1" role="dialog" aria-labelledby="ModalRegisterLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="ModalRegisterLabel">Bienvenue <b><span id="name_pseudo"></span></b> !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p>Il semblerait que vous soyez un nouvel arrivant parmi-nous ! Je vous invite à personnaliser votre avatar et à choisir un mot de passe afin de pouvoir défier des milliers de joueurs en ligne !</p>
                    <hr/>
                    <form>
                        <div class="form-group">
                            <label>Choisissez votre avatar fétiche</label>
                            <div id="avatar-list"></div>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mot de passe</label>
                            <input type="password" class="form-control" name="password" autocomplete="current-password" placeholder="Entrez un mot de passe ici" id="pwd" value="" onkeypress="Onboarding_.validatePassword()" onkeydown="Onboarding_.validatePassword()" onkeyup="Onboarding_.validatePassword()" onchange="Onboarding_.validatePassword()">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkbox-btn" onclick="Onboarding_.validateCheck()">
                            <label class="form-check-label" for="checkbox-btn">J'accepte de jouer fair-play et de respecter les autres joueurs en ligne.</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="forwarding" disabled>C'est parti</button>
                </div>
            </div>
            </div>
        </div>
    </main>

    <%- include("../footer/index") %>

</body>
</html>